<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Henlo</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
  <div class="top-nav">
      <a class="active" href="#home">Home</a>
      <form method="get">
          <a href="/logIn" id="login">Log In</a>
      </form>
      <form method="get">
      <a href="/register" id="register">Register</a>
      </form>
      <a href="#contact">About us</a>
      <a href="#about">Contact us</a>
  </div>


<div class="container">
    <img src="Car rental stock.jpg" alt="Man gets handed keys while sitting in a car (smiling)"
         style="width: 100%; height: 30%;">

    <form action="SOMETHING" class="box" id="box1">

        <input id="box1button" type="submit" value="Rent car" placeholder="SOMETHING ELSE" class="button">
    </form>
    <form class="box" id="box2">
        <input id="box2button" type="submit" value="other button" class="button">
    </form>

    <form action="registerUser.html">
        <input type="submit" value=" " id="key" class="button">
    </form>

</div>
<div class="footer">
    <form action="SOMETHING">
        <input type="submit" value="ADMIN LOGIN">
    </form>

</div>

</body>
</html>