<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/MyCSS.css">
  <style>
    body{
      background-color: #38aecc;
    }
  </style>
</head>
<body>
<div class="top-nav">
  <a href="/">Home</a>
  <a href="#contact">About us</a>
  <a href="#about">Contact us</a>
</div>

<h1>Login</h1>

<div id="login-box">

  <form action="/loginUser" method="post">
    <label class="registerLabel">Enter email address: </label>
    <input class="textInput" type="text" placeholder="email" name="email">
    <br>

    <label class="registerLabel">Enter password: </label>
    <input class="textInput" type="text" placeholder="password" name="password">
    <br>

    <input class="textInput" type="submit" value="Login" style="background-color: green; color:white">
  </form>

</div>


</body>
</html>