<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/MyCSS.css">
  <style>
    body{
      background-color: #38aecc;
    }
  </style>
</head>
<body>
<div class="top-nav">
  <a class="active" href="#home">Home</a>
  <a href="#contact">About us</a>
  <a href="#about">Contact us</a>
</div>



<div id="login-box">

  <form action="">
    <label>Enter email address: </label>
    <input class="textInput" type="text" placeholder="Johnson@Wmail.com" name="email">
    <br>
    <label>Enter password: </label>
    <input class="textInput" type="text" placeholder="123hej" name="password">
    <br>
    <input type="submit" style="background-color: green">
  </form>

</div>


</body>
</html>