<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisterUser</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
    <style>
        body{
            background-color: #38aecc;
        }
    </style>
</head>
<body>
<div class="top-nav">
    <a class="active" href="#home">Home</a>
    <a href="#contact">About us</a>
    <a href="#about">Contact us</a>
</div>


<br>
<br>
<div id="registerBox">

    <form action="somethingControlololoer" method="post" >
        <label>enter full name</label>
        <input class="textInput" type="text" placeholder="full name" name="name">
        <br>
        <label>enter driver lisence number</label>
        <input class="textInput" type="text" placeholder="driver license number" name="driverLicenseNumber">
        <br>
        <label> enter address</label>
        <input class="textInput" type="text" placeholder="address" name="address">
        <br>
        <label>enter zip code</label>
        <input class="textInput" type="text" placeholder="zip" name="zip">
        <br>
        <label>enter city</label>
        <input class="textInput" type="text" placeholder="city" name="city">
        <br>
        <label>enter phone number</label>
        <input class="textInput" type="text" placeholder="phone number" name="phone">
        <br>
        <label>enter email address</label>
        <input class="textInput" type="text" placeholder="email address" name="email">
        <br>
        <label>Enter a password you can remember</label>
        <input class="textInput" type="text" placeholder="password" name="password">
        <br>
        <label>hit when you have entered all your details</label>
        <input class="textInput" type="submit" value="Enter" style="background-color: green">

    </form>
</div>



</body>
</html>