<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisterUser</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
    <style>
        body{
            background-color: #38aecc;
        }
    </style>
</head>
<body>


<div class="box">

    <form action="somethingControlololoer" method="post" id="registerBox">
        <input class="textInput" type="text" placeho="full name" name="name">
        <input class="textInput" type="text" placeho="driver license number" name="driverLicenseNumber">
        <input class="textInput" type="text" placeho="address" name="address">
        <input class="textInput" type="text" placeho="zip" name="zip">
        <input class="textInput" type="text" placeho="city" name="city">
        <input class="textInput" type="text" placeho="phone number" name="phone">
        <input class="textInput" type="text" placeho="email address" name="email">
        <input class="textInput" type="submit">

    </form>
</div>



</body>
</html>