<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RegisterUser</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
    <style>
        body{
            background-color: #38aecc;
        }
    </style>
</head>
<body>
<div class="top-nav">
    <a href="/">Home</a>
    <a href="#contact">About us</a>
    <a href="#about">Contact us</a>
</div>

<h1>Register user</h1>
<br>
<br>
<div id="registerBox">

    <form action="createRenter" method="post" >
        <label class="registerLabel">enter full name: </label>
        <input class="textInput" type="text" placeholder="full name" name="name">
        <br>
        <label class="registerLabel">enter driver lisence number: </label>
        <input class="textInput" type="text" placeholder="driver license number" name="driverLicenseNumber">
        <br>
        <label class="registerLabel"> enter address: </label>
        <input class="textInput" type="text" placeholder="address" name="address">
        <br>
        <label class="registerLabel">enter zip code: </label>
        <input class="textInput" type="text" placeholder="zip" name="zip">
        <br>
        <label class="registerLabel">enter city: </label>
        <input class="textInput" type="text" placeholder="city" name="city">
        <br>
        <label class="registerLabel">enter phone number: </label>
        <input class="textInput" type="text" placeholder="phone number" name="phone">
        <br>
        <label class="registerLabel">enter email address: </label>
        <input class="textInput" type="text" placeholder="email address" name="email">
        <br>
        <label class="registerLabel">Enter a password: </label>
        <input class="textInput" type="text" placeholder="password" name="password">
        <br>
        <input class="textInput" type="submit" value="Submit" style="background-color: green; color:white">

    </form>
</div>



</body>
</html>