<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RentCar</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body>
    <h1>Pick your type of car to rent</h1>
    <div>
        <button>Dropdown</button>
        <div>
            <a href="#">Big car</a>
            <a href="#">Small car</a>
            <a href="#">Very small car</a>
        </div>
        <form action="">
            <input class="button" type="submit" value="Big car/truck">
            <input class="button" type="submit" value="Family size car">
            <input class="button" type="submit" value="Sports car">
            <input class="button" type="submit" value="Luxury car">
            <input class="button" type="submit" value="Smart car u jackass">
        </form>

    </div>
</body>
</html>