<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RentCar</title>
    <link rel="stylesheet" type="text/css" href="/MyCSS.css">
</head>
<body style="background-color:#38aecc";>

    <h1>Rent a car</h1>

    <div id="rentCarBox">
        <form action="/viewAvailableCars" method="post">
            <label class="registerLabel" for="rentCarFrom">When do you want to rent the car from?: </label>
            <input class="textInput" type="date" id="rentCarFrom" name="rentCarFrom" value="2023-04-24">
            <br>
            <label class="registerLabel"  for="rentCarFrom">When do you want to rent the car to?: </label>
            <input class="textInput"  type="date" id="rentCarTo" name="rentCarTo" value="2023-04-25">

            <p class="registerLabel">Pick the type of car you want: </p>
            <select class="textInput"  name="carType">
                <option value="FAMILY">Family car</option>
                <option value="SPORT">Sports car</option>
                <option value="LUXURY">Luxury car</option>
            </select>
            <br>
            <input class="textInput" type="submit" value="Search" style="background-color: green; color:white;">
        </form>
    </div>

        <table>
            <thead>
            <tr>
                <th>Registration number</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Fuel type</th>
                <th>Miles</th>
                <th>Registration date</th>

            </tr>

            </thead>
<!--        TODO: This ain't done-->
            <tr th:each="car: ${cars}">
                <td th:text="${car.registration_number}" style="background-color: #6a5db8;color:white;"/>
                <td th:text="${car.brand}" style="background-color: #6a5db8;color:white;"/>
                <td th:text="${car.model}" style="background-color: #6a5db8;color:white;"/>
                <td th:text="${car.fuel_type}" style="background-color: #6a5db8;color:white;"/>
                <td th:text="${car.odometer}" style="background-color: #6a5db8;color:white;"/>
                <td th:text="${car.registration_date}" style="background-color: #6a5db8;color:white;"/>
                <td>
                    <a th:href="@{'/rentCar/'+${car.registration_number}}"></a>
                        <button>RENT</button>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>